@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
.hero{
    background-image: url('../images/cow.jpg');
    height: 100vh;
    background-position: bottom center;
    background-size: cover;
}
.hero h1{
    color: azure;
    font-size: 100px;
    text-align: center;
    font-weight: 900;
    padding-top: 60px;
    font-family: cursive;
    word-spacing: 40px;
    letter-spacing: 20px;
}
.article {
    width: 80%;
    margin : 60px auto;
    background-color: azure;
    padding: 60px;
    border: 2px solid aquamarine;
}
.article h2 {
    text-align: center;
    font-size: 40px;
    border-bottom: 2px solid aquamarine;
    margin: 20px;
    padding: 20px;
}