* {
    margin: 0;
    padding: 0;
}
.hero{
    background-image: url('../images/cow.jpg');
    height: 100vh;
    background-position: bottom center;
    background-size: cover;
}
.hero h1{
    color: azure;
    font-size: 100px;
    text-align: center;
    font-weight: 900;
    padding-top: 60px;
    font-family: cursive;
    word-spacing: 40px;
    letter-spacing: 20px;
}