* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.items {
    background-color: lightblue;
    padding: 5px;
    border-radius: 5px;
    margin: 5px auto;
    text-align: center;
    color: white;
    width: 100%;
}
.container {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(6,1fr);
    gap: 5px;
}

#item121 {
    grid-column: 1/ 13;
}
#item61 {
    grid-column: 1/ 7;
}
#item62 {
    grid-column: 7/13;
}
#item41 {
    grid-column: 1/5
}
#item42 {
    grid-column: 5/9
}
#item43 {
    grid-column: 9/13
}
#item31 {
    grid-column: 1/4;
}
#item32 {
    grid-column: 4/7;
}
#item33 {
    grid-column: 7/10;
}
#item34 {
    grid-column: 10/13;
}

#item21 {
    grid-column: 1/3;
}
#item22 {
    grid-column: 3/5;
}
#item23 {
    grid-column: 5/7 ;
}
#item24 {
    grid-column: 7/9 ;
}
#item25 {
    grid-column: 9/11;
}
#item26 {
    grid-column: 11/13 ;
}