h3 {
    display: inline;
    color: darkmagenta;
    background-color: aquamarine;
}

h3:hover {
    color: aquamarine;
    background-color: darkmagenta;
    cursor:pointer;
}

input {
    display: block;
    margin: 10px;
}


input:focus {
    border: none;
    color: green;
    outline: 0;
}

a {
    color: black;
    text-decoration: none;
}
a:visited {
    color: red;
}
li:nth-child(3n+1){
    color: red;
}