.grid-container {
    background-color: lightgreen;
    display: grid;
    padding: 10px;
    gap: 10px 10px;

    grid-template-columns: auto auto auto auto auto 10%;


    grid-template-areas: 
    'item1 item1 item1 item1 item1 item1'
    'item2 item3 item3 item3 item4 item4' 'item2 item5 item5 item5 item5 item5'
    ;
}
.grid-container div , .item6{
    border: 2px solid black;
    text-align: center;
    padding: 10px;
    text-align: center;
    background-color: aquamarine;
}
.item1 {
    grid-area: item1;
}
.item2 {
    grid-area: item2;
}
.item3 {
    grid-area: item3;
}
.item4 {
    grid-area: item4;
}
.item5 {
    grid-area: item5;
}
.item6 {
    border-radius: 50%;
    height: auto;
    width: 50px;
    position: absolute;
    top: 180px;
    right: 20px;
    background-color: lightpink;
}
