.header {
    height: 300px;
    /* background-color: bisque; */
    background-image: url('/images/mogdhora.png');
    background-size: cover;
    background-repeat: repeat;
}
div {
    /* background-color: brown; */
    margin : 40px;
    border: 5px solid black;
    padding: 10px;
    /* text-align: justify; */
    box-shadow: 10px 10px 10px blueviolet;
}
.second {
    /* visibility: hidden; */
    /* display: none; */
}
span {
    border: 2px solid darkred;
    /* display: block; */
    display : inline-block;
    margin: 20px;
    padding: 10px;

}