* {
    margin: 0;
    padding: 0;
}
.main-container {
    height: 200vh;
    background-color: bisque;
}

.flag-container {
    height: 300px;
    width: 500px;
    background-color: green;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: relative;
}
.flag-circle {
    height: 130px;
    width: 130px;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 100%;
}
.flag-handle {
    height: 250px;
    width: 30px;
    background-color: black;
    position: relative;
    top: 90%;
    border-top-right-radius: 30px;
}
.flag-footer{
    height: 50px;
    width: 80px;
    background-color: black;
    position: absolute;
    top: 100%;
    right: 50%;
    transform: translate(50%);
}